*{
    padding: 0;
    margin: 0;
}
body{
    width: 100%;
    max-width: 1000px;
    margin: auto;
}
div{
    border: solid red 15px;
    margin: 15px auto;
}
div{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: bold;
    text-align: left;
    text-indent: 10px;
}
body> div> div> div{
    background-color: aqua;
}
body > div > div{
    background-color: antiquewhite;
}
body > div{
    background-color: blueviolet;
}
p+div {
    color: red;
}
div div div p {
    color: green;
}






